<div class="container">
  <div>
    <h3 style="float:right">Order Status: <b style="color:red"><%= @order.status %></b></h3>
    <h3 style="float:left">Order Placed Successfully!</h3>

  </div>
  <div class="well container">
    <table class="table table-striped">
      <tr>
        <td>Customer Name</td>
        <td>Item Name</td>
        <td>Quantity</td>
        <td>Address</td>
      </tr>
      <tr>
        <td><%= @order.customer_name %> </td>
        <td><%= @order.item.name %> </td>
        <td><%= @order.quantity %></td>
        <td><%= @order.address %></td>
      </tr>
    </table>
  </div>
  <div>Please refresh this page to know the status of the shipment</div>
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">Sample Rails App for demonstration purpose</div>
    </div>
  </div>
</div>